@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-canvas text-ink font-body;
  }
  h1,
  h2,
  h3 {
    @apply font-display font-bold tracking-tight;
    margin: 0;
  }
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
